<Bundle atlasPath="${atlas}">
  <!-- Fonts -->
#foreach($font in $bundle.fonts.list)
  <Font name="${font.name}" fontPath="${font.name}.fnt" />
#end

  <!-- Framed Images -->
#foreach($image in $bundle.images.list)
#if($image.framed)
  <Framed name="${image.exportName}" top="${image.top}" left="${image.left}" right="${image.right}" bottom="${image.bottom}" />
#end
#end

  <!-- Sprites -->
#foreach($sprite in $bundle.sprites.list)
  <Sprite name="${sprite.name}">
#if($sprite.rendered)
    <Image name="${sprite.imageName}" x="${sprite.imageX}" y="${sprite.imageY}" />
#else
#foreach($component in $sprite.list)
    <Image name="${component.source.exportName}" x="${component.x}" y="${component.y}" alpha="${component.alpha}" rotation="${component.rotation}" flipX="${component.flipX}" flipY="${component.flipY}" />
#end
#end
  </Sprite>
#end

  <!-- Animations -->
#foreach($animation in $bundle.animations.list)
  <Animation name="${animation.name}">
#foreach($frame in $animation.list)
    <Frame sprite="${frame.source.name}" time="${frame.time}" />
#end
  </Animation>
#end

  <!-- Actors -->
#foreach($actor in $bundle.actors.list)
  <Actor name="${actor.name}">
#foreach($action in $actor.list)
    <Action name="${action.name}" animation="${action.source.name}" />
#end
  </Actor>
#end
</Bundle>
