<?xml version="1.0" encoding="UTF-8"?>
<bundle>
  <images>
#foreach($image in $bundle.images.list)
#if($image.framed)
    <image name="${image.exportName}" filename="${image.name}" export="${image.export}" framed="true" top="${image.top}" left="${image.left}" right="${image.right}" bottom="${image.bottom}" />
#else
    <image name="${image.exportName}" filename="${image.name}" export="${image.export}" framed="false" />
#end
#end
  </images>
#set($sprites = $bundle.sprites.list)
  <sprites>
#foreach($sprite in $sprites)
    <sprite name="${sprite.name}" rendered="${sprite.rendered}" image="${sprite.imageName}">
#foreach($component in $sprite.list)
      <module name="${component.source.name}" x="${component.x}" y="${component.y}" alpha="${component.alpha}" rotation="${component.rotation}" flipX="${component.flipX}" flipY="${component.flipY}" />
#end
	</sprite>
#end
  </sprites>
  <animations>
#foreach($animation in $bundle.animations.list)
    <animation name="${animation.name}">
#foreach($frame in $animation.list)
      <frame sprite="${frame.source.name}" time="${frame.time}" />
#end
	</animation>
#end
  </animations>
  <actors>
#foreach($actor in $bundle.actors.list)
    <actor name="${actor.name}">
#foreach($action in $actor.list)
      <action name="${action.name}" animation="${action.source.name}" />
#end
	</actor>
#end
  </actors>
  <fonts>
#foreach($font in $bundle.fonts.list)
    <font name="${font.name}" face="${font.face}" size="${font.size}" bold="${font.bold}" italic="${font.italic}"
          fill="${font.fill}" fillAngle="${font.fillAngle}" fillColor0="${font.fillColor0Int}" fillColor1="${font.fillColor1Int}"
          stroke="${font.stroke}" strokeWidth="${font.strokeWidth}" strokeAngle="${font.strokeAngle}" strokeColor0="${font.strokeColor0Int}" strokeColor1="${font.strokeColor1Int}"
          shadow="${font.shadow}" shadowX="${font.shadowX}" shadowY="${font.shadowY}" shadowAlpha="${font.shadowAlpha}" shadowColor="${font.shadowColorInt}"
          characters="${font.charactersList}" />
#end
  </fonts>
</bundle>
